<% let meta={ title: "TCROSS Co., Ltd." , description: "トップページの説明" , keywords: "test, bridge" , ogTitle: "ページタイトル" ,
    ogDescription: "ページ説明文" , ogtype: "" , ogUrl: "" , ogImage: "" , ogsiteName: "" , ogLocate: "" , basePath: "../../"
    , selected: "selected" , optionJp: "JP" , optionEn: "EN" , terms: "terms of service" , privacy: "privacy policy" ,
    lang: "en/" }; %>
    <%- include('/common/_metaCreate', { meta }) %>
        <!DOCTYPE html>
        <html lang="en">
        <%- include('/common/_headContent', { meta }) %>

            <body class="page-top" data-page="../jp">
                <%- include('/common/_header', { meta }) %>

                    <section class="top-hero">
                        <div class="top-hero-swiper">
                            <div class="top-hero-swiper-wrapper">

                                <div class="top-hero-swiper-wrapperSlide">
                                    <picture>
                                        <source srcset="../../<%= ASSET_PATH %>asset/img/top/hero_sp.jpg"
                                            media="(max-width: 450px)">
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/hero.jpg"
                                            alt="持続可能な医療へと変革するプロフェッショナル">
                                    </picture>
                                </div>

                                <div class="top-hero-swiper-wrapperSlide">
                                    <picture>
                                        <source srcset="../../<%= ASSET_PATH %>asset/img/top/hero_sp.jpg"
                                            media="(max-width: 450px)">
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/hero.jpg"
                                            alt="持続可能な医療へと変革するプロフェッショナル">
                                    </picture>
                                </div>

                                <div class="top-hero-swiper-wrapperSlide">
                                    <picture>
                                        <source srcset="../../<%= ASSET_PATH %>asset/img/top/hero_sp.jpg"
                                            media="(max-width: 450px)">
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/hero.jpg"
                                            alt="持続可能な医療へと変革するプロフェッショナル">
                                    </picture>
                                </div>

                                <div class="top-hero-swiper-wrapperSlide">
                                    <picture>
                                        <source srcset="../../<%= ASSET_PATH %>asset/img/top/hero_sp.jpg"
                                            media="(max-width: 450px)">
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/hero.jpg"
                                            alt="持続可能な医療へと変革するプロフェッショナル">
                                    </picture>
                                </div>

                                <div class="top-hero-swiper-wrapperSlide">
                                    <picture>
                                        <source srcset="../../<%= ASSET_PATH %>asset/img/top/hero_sp.jpg"
                                            media="(max-width: 450px)">
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/hero.jpg"
                                            alt="持続可能な医療へと変革するプロフェッショナル">
                                    </picture>
                                </div>

                                <div class="top-hero-swiper-wrapperSlide">
                                    <picture>
                                        <source srcset="../../<%= ASSET_PATH %>asset/img/top/hero_sp.jpg"
                                            media="(max-width: 450px)">
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/hero.jpg"
                                            alt="持続可能な医療へと変革するプロフェッショナル">
                                    </picture>
                                </div>

                            </div>

                            <div class="top-hero-swiper-controls">
                                <div id="toggle-play" class="top-hero-swiper-controlsTogglePlay is-play"></div>
                                <div class="top-hero-swiper-controlsPagination"></div>
                            </div>

                            <div class="top-hero-swiper-heading">
                                <h2 class="top-hero-swiper-headingTitle">
                                    <p>持続可能な<br />医療へと変革する<br />プロフェッショナル</p>
                                </h2>
                                <div class="top-hero-swiper-headingText">
                                    <p>テクロスは、医療業界のあらゆるステークホルダーを支援する企業です。</p>
                                    <p>営業やマーケティングの領域にサイエンスの視点を取り入れ、<br class="_pc" />医療産業の持続的な発展に寄与することを目指しています。</p>
                                </div>
                            </div>
                            <div class="top-hero-swiper-link">
                                <a href="<%= meta.basePath %><%= ASSET_PATH %><%= meta.lang %>about.html"
                                    class="c-link-long c-inter">
                                    <p>Who We Are</p>
                                </a>
                            </div>

                        </div>
                    </section>

                    <section class="top-features c-wrapper">
                        <div class="top-features-news">
                            <div class="top-features-news-wrapper">
                                <p class="top-features-news-wrapperTitle js-fadein">Features</p>
                                <div class="top-features-news-wrapperText js-fadein">
                                    <p>2025 .12.28</p>
                                    <a href="#">新規導入薬を最初に処方する医師（アーリーアダプター）の特定を可能にするInsighTCROSS®
                                        EarlyScriptersを発表します</a>
                                </div>
                                <div class="top-features-news-wrapperText js-fadein">
                                    <p>2025 .12.28</p>
                                    <a href="#">希少疾患領域においてInsighTCROSS®のトライアルでデータドリブンな新しい営業戦略の可能性を実証しました</a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="our-services">
                        <div class="our-services-wrapper">
                            <h2 class="our-services-wrapper-title c-inter js-fadein"><span
                                    class="c-title-color">Our</span> Services
                            </h2>
                            <div class="our-services-wrapper-pickup">
                                <div class="our-services-wrapper-pickupContent js-fadein">
                                    <a href="https://insightcross.com/" target="_blank">
                                        <div class="our-services-wrapper-pickupContentText">
                                            <a href="https://insightcross.com/" target="_blank">
                                                <h3>データサイエンス事</h3>
                                                <p>データサイエンスを用いて医薬品・医療機器企業に効率的なマーケティング活動を支援します。
                                                    テクロスが開発した意思決定支援サービス「InsighTCROSS®」は、効率的な営業・マーケティングを実践するための意思決定支援ソフトウェアです。
                                                </p>
                                                <p class="our-services-wrapper-pickupContentMore c-case-list-more _pc">
                                                    もっと見る</p>
                                                <p class="our-services-wrapper-pickupContentTextLine">サービスの詳細<span
                                                        class="c-link-short-transition"></span></p>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="https://insightcross.com/" target="_blank">
                                                <img src="../../<%= ASSET_PATH %>asset/img/top/data-science.jpg"
                                                    alt="データサイエンス事業">
                                            </a>
                                        </div>
                                </div>
                                <div class="our-services-wrapper-pickupContent _reverse js-fadein">
                                    <div class="our-services-wrapper-pickupContentText">
                                        <a
                                            href="<%= meta.basePath %><%= ASSET_PATH %><%= meta.lang %>services/marketing.html">
                                            <h3>Webマーケティング事業</h3>
                                            <p>循環器領域の専門サイト「TCROSS NEWS®」を通じて、医薬品・医療機器を対象とした広範囲のプロモーション活動をお手伝いします。
                                                Web広告、学術集会や製品に関連するサイトの制作、管理を請け負います。</p>
                                            <p
                                                class="our-services-wrapper-pickupContentMore c-transition-list-more _pc">
                                                もっと見る</p>
                                            <p class="our-services-wrapper-pickupContentTextLine">サービスの詳細<span
                                                    class="c-link-short-arrow"></span></p>
                                        </a>
                                    </div>
                                    <div>
                                        <a
                                            href="<%= meta.basePath %><%= ASSET_PATH %><%= meta.lang %>services/marketing.html">
                                            <img src="../../<%= ASSET_PATH %>asset/img/top/digital-marketing.jpg"
                                                alt="Webマーケティング事業">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="our-services-wrapper-list">
                                <a href="<%= meta.basePath %><%= ASSET_PATH %><%= meta.lang %>services/event.html"
                                    class="our-services-wrapper-list-busines js-fadein">
                                    <div>
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/our-services3.jpg"
                                            alt="イベントコーディネート事業">
                                    </div>
                                    <h3>イベントコーディネート事業</h3>
                                    <p>学術集会、ライブデモンストレーションコース、講演会、座談会等の企画から手配、運営までを総合的にプロデュースします。</p>
                                    <p class="our-services-wrapper-list-businesLine">サービスの詳細<span
                                            class="c-link-short-arrow"></span></p>
                                </a>

                                <a href="https://www.tcross.co.jp/" class="our-services-wrapper-list-busines js-fadein"
                                    target="_blank">
                                    <div>
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/our-services5.jpg"
                                            alt="メディアコミュニケーション事業">
                                    </div>
                                    <h3>メディアコミュニケーション事業</h3>
                                    <p>循環器領域の専門サイトTCROSS NEWS®を運営し、最新情報の提供を行っています。
                                        国内外における医学領域の学術集会や講演会の取材やインタビューなどから、専門性の高い記事を制作します。</p>
                                    <p class="our-services-wrapper-list-businesLine">TCROSS NEWS<span
                                            class="c-link-short-transition"></span>
                                    </p>
                                </a>

                                <a href="<%= meta.basePath %><%= ASSET_PATH %><%= meta.lang %>services/clinical.html"
                                    class="our-services-wrapper-list-busines js-fadein">
                                    <div>
                                        <img src="../../<%= ASSET_PATH %>asset/img/top/our-services2.jpg"
                                            alt="臨床研究支援事業">
                                    </div>
                                    <h3>臨床研究支援事業</h3>
                                    <p>独自のパイプラインを活かした研究コンサルテーションを行います。
                                        研究事務局の運営のみならず、施設選定、研究計画書策定、統計解析、論文化までの一貫した臨床研究支援が可能です。</p>
                                    <p class="our-services-wrapper-list-businesLine">サービスの詳細<span
                                            class="c-link-short-arrow"></span></p>
                                </a>

                                <div class="our-services-wrapper-list-busines js-fadein">
                                    <div><img src="../../<%= ASSET_PATH %>asset/img/top/our-services6.jpg"
                                            alt="コンサルティング事業"></div>
                                    <h3>コンサルティング事業</h3>
                                    <p>医療領域における市場調査、市場分析から、マーケティング戦略の立案を含むコンサルティングを行います。 医療現場と企業をつなぐための市場のunmet
                                        needsの探索、製品導入後のマーケティング活動、販売活動の支援、研究会の組織化などを総合的にサポートします。</p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="recruit c-wrapper">
                        <div class="recruit-bg js-fadein"></div>
                        <div class="recruit-explanation js-fadein">
                            <p class="recruit-explanation-section c-inter">Recruit</p>
                            <h2 class="c-explanation-title">
                                テクロスは<br class="_pc" />医療業界の発展を<br />一緒に目指す仲間を<br class="_pc" />募集しています
                            </h2>
                            <div class="recruit-explanation-text">
                                <p>テクロスでは、ニュートラルな視点と深い専門性、そして情熱を共有し、 <br class="_pc" />
                                    循環器医療に持続的な価値を創出していく仲間を求めています。</p>
                            </div>
                            <div class="recruit-link">
                                <a href="#" class="c-link-long c-inter">
                                    <p>Recruit</p>
                                </a>
                            </div>
                            <div class="recruit-explanation-image">
                                <img src="../../<%= ASSET_PATH %>asset/img/top/recruit.jpg" alt="recruit">
                            </div>
                        </div>
                    </section>

                    <section class="news c-wrapper">
                        <div class="news-wrapper">
                            <p class="news-wrapper-title js-fadein">News</p>
                            <div class="news-wrapper-text js-fadein">
                                <p>2025 .12.25</p>
                                <a href="#">MEDICA 2025にてInsighTCROSS®およびデータサイエンス事業について展示いたします</a>
                            </div>
                            <div class="news-wrapper-text js-fadein">
                                <p>2025 .11.16</p>
                                <a href="#">InsighTCROSS®が、ものづくり補助金〈グローバル展開型〉に採択されました</a>
                            </div>
                            <div class="news-wrapper-text js-fadein">
                                <p>2025 .10.01</p>
                                <a href="#">
                                    あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎら<br />ひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、<br />郊外のぎらぎらひかる草の波。
                                </a>
                            </div>
                            <div class="news-wrapper-link js-fadein">
                                <a href="#" class="c-link-long c-inter" target="_blank">
                                    <p>News 一覧</p>
                                </a>
                            </div>
                        </div>
                    </section>

                    <%- include('/common/_contact') %>
                        <%- include('/common/_footer', { meta }) %>
                            <link rel="stylesheet"
                                href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

                            <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
                            <script src="<%= meta.basePath %><%= ASSET_PATH %>asset/js/main.js"></script>
            </body>

        </html>