<% let meta={ title: "indexTitleテスト" , description: "トップページの説明" , keywords: "test, bridge" , ogTitle: "ページタイトル" ,
    ogDescription: "ページ説明文" , ogtype: "" , ogUrl: "" , ogImage: "" , ogsiteName: "" , ogLocate: "" ,
    basePath: "../../../" , selected: "selected" , optionJp: "Japanese" , optionEn: "English" ,
    terms: "terms of service" , privacy: "privacy policy" }; %>
    <%- include('/common/_metaCreate', { meta }) %>
        <!DOCTYPE html>
        <html lang="ja">
        <%- include('/common/_headContent', { meta }) %>

            <body data-page="../../jp/services">
                <%- include('/common/_header', {meta}) %>

                    <ul class="c-breadcrumbs c-wrapper">
                        <li><a href="/">トップ</a></li>
                        <li>＞</li>
                        <li><a href="../">事業紹介</a></li>
                        <li>＞</li>
                        <li class="_active">イベントコーディネート事業</li>
                    </ul>

                    <div class="c-modal">
                        <div class="c-modal-case">
                            <h4>循環器治療の主要領域を網羅した、包括的ライブイベントの実現</h4>
                            <h5>豊橋ライブデモンストレーションコース</h5>
                            <div class="c-modal-case-img"><img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png"></div>
                            <h6>成果</h6>
                            <ul>
                                <li>2025年の開催では、5日間・6配信ルーム・100を超えるプログラムを実施</li>
                                <li>参加者数2,447名（前年比＋399名）／有料参加者前年比150％増</li>
                                <li>学術イベントの持続的成長モデルとして定着</li>
                                <li>多様なステークホルダーが共に価値を創出するイベントの新たな形を提示</li>
                            </ul>
                            <h6>背景</h6>
                            <p>2011年の初開催以来、豊橋ライブは日本の循環器治療分野における代表的なライブデモンストレーションとして発展。
                                虚血・EVT・SHD・不整脈・薬物治療など、多岐にわたる分野を横断的に学べるプログラム構成を設計し、 臨床・教育・産業が交差する場として進化を続けてきました。</p>
                            <h6>取り組み</h6>
                            <p>テクロスは、企画立案から運営・配信設計・広報戦略までを包括的にサポート。 自社メディアやSNSを活用したオンラインプロモーションを展開し、
                                有料会員層の拡大と新規参加者の獲得を推進しました。 また、早割制度の導入やオンデマンド配信設計により、 利便性と満足度の両面で最適化を図りました。</p>
                            <div class="c-modal-case-close" id="modal-close-btn"></div>
                        </div>
                    </div>

                    <section class="event-hero c-wrapper">
                        <h2>イベントコーディネート事業</h2>
                        <div class="event-hero-content">
                            <div>
                                <h3 class="c-headline">医療の知を結び、<br />ユーザーの「見たい」を<br />カタチに。</h3>
                                <p>循環器領域に精通した私たちは、医療従事者・企業・参加者をつなぎ、
                                    研究会・講演会・セミナーを通じて新たな価値を生み出してきました。<br />学会運営の経験と、データ分析・広報設計のノウハウを活かし、現場の声やトレンドを捉えながら、医療の未来を動かすイベントを創出しています。
                                </p>
                            </div>
                            <div>
                                <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                            </div>
                        </div>
                    </section>

                    <section class="c-explanation c-wrapper">
                        <h3 class="c-headline">依頼に応えるだけでなく、医療の現場と市場の変化を捉え、<br />新しい企画を自ら生み出すイベントプロデュースチーム</h3>
                        <div class="c-explanation-content">
                            <div>
                                <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                            </div>
                            <ul>
                                <li>
                                    <h4>専門領域への深い理解</h4>
                                    <p>循環器領域に特化した知見と経験をもとに、医療現場の課題や最新動向を的確に捉えた企画を設計します。臨床と産業の双方に寄り添い、医療従事者・企業の双方に価値を届けます。
                                    </p>
                                </li>
                                <li>
                                    <h4>信頼関係に基づく共創体制</h4>
                                    <p>医療従事者・企業・関係団体との長年の信頼関係を基盤に、 目的や立場を問わず「共に創る」体制を確立。依頼内容に応えるだけでなく、より効果的な構成・運営を提案し、
                                        プロジェクト全体を統合的にディレクションします。</p>
                                </li>
                                <li>
                                    <h4>トレンドを捉える企画力</h4>
                                    <p>自社メディアでの情報発信や取材活動、学会参加を通じて現場や企業のリアルな情報を収集。業界の変化や次の潮流を先読みし、参加者が「今、知りたい」と思うテーマをいち早く企画に落とし込みます。
                                    </p>
                                </li>
                                <li>
                                    <h4>データと経験を融合した改善サイクル</h4>
                                    <p>イベント後のアンケートや視聴データを分析し、 参加者の反応・満足度・再参加傾向を可視化。数値的な裏付けと経験知を組み合わせ、次の企画へ確実に反映します。</p>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="c-task c-wrapper">
                        <h3 class="c-headline">こんなお悩みありませんか？</h3>
                        <ul class="c-task-list">
                            <li>
                                <p>課題01：見出しテキスト見出しテキスト見出しテキスト</p>
                            </li>
                            <li>
                                <p>課題02：見出しテキスト見出しテキスト見出しテキスト</p>
                            </li>
                            <li>
                                <p>課題03：見出しテキスト見出しテキスト見出しテキスト</p>
                            </li>
                            <li>
                                <p>課題04：見出しテキスト見出しテキスト見出しテキスト</p>
                            </li>
                        </ul>

                        <h4>企画から運営・分析まで、一貫したプロセスで支援します</h4>
                        <ul class="c-task-support">
                            <li>
                                <h5>ビジョン設計</h5>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    医療の意義から逆算する企画<br />社会的意義と将来像を明確化
                                </p>
                            </li>
                            <li>
                                <h5>データ分析・戦略立案</h5>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    数字で“人の動き”を読むログ・SNS反応から戦略を構築
                                </p>
                            </li>
                            <li>
                                <h5>広報・コンテンツ設計</h5>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    届くメッセージを設計<br />医療従事者・企業双方に訴求
                                </p>
                            </li>
                            <li>
                                <h5>運営・進行管理</h5>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    現場に強い運営力<br />学会水準の品質と多演者対応
                                </p>
                            </li>
                            <li>
                                <h5>効果分析と改善提案</h5>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    成果を見える化<br />KPIを分析し次に活かす
                                </p>
                            </li>
                        </ul>
                    </section>

                    <section class="c-example c-wrapper">
                        <h3 class="c-headline">ケーススタディ</h3>
                        <ul class="c-example-list">
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <div>
                                    <h4>循環器治療の主要領域を網羅した、包括的ライブイベントの実現</h4>
                                    <h5>Japanese Bifurcation Club（JBC）</h5>
                                    <p>・EBC／KBC／ABCなど世界主要学会との連携による国際展開<br />・分岐部治療に特化した継続的学術コミュニティの構築<br />・症例を通じた臨床知の共有・議論の促進<br />・日本の知見を世界へ届けるライブプラットフォームの確立
                                    </p>
                                    <p class="c-example-list-more js-modal" data-modal-id="1">もっと詳しく</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <div>
                                    <h4>日本発の分岐部治療研究会として、世界の潮流と歩む</h4>
                                    <h5>豊橋ライブデモンストレーションコース</h5>
                                    <p>・2025年の開催では、5日間・6配信ルーム・100を超えるプログラムを実施<br />・参加者数2,447名（前年比＋399名）／有料参加者前年比150％増<br />・学術イベントの持続的成長モデルとして定着<br />・多様なステークホルダーが共に価値を創出するイベントの新たな形を提示
                                    </p>
                                    <p class="c-example-list-more js-modal" data-modal-id="2">もっと詳しく</p>
                                </div>
                            </li>
                        </ul>
                    </section>

                    <section class="event-clause c-wrapper">
                        <h3 class="c-headline">学会・医療研究会を成功に導く5か条</h3>
                        <p>私たちは、医療イベントを単なる開催ではなく、「価値を生み、次につながる場」として設計することを大切にしています。その実現には、以下の5つの要素が欠かせないと考えています。</p>
                        <ul class="event-clause-list">
                            <li>
                                <h4>明確で持続的なビジョン</h4>
                                <p>
                                    開催するイベントに、社会的意義や将来像を明確に描いたビジョンが存在し、その実現に向けた一貫した方針をお持ちであること。
                                </p>
                            </li>
                            <li>
                                <h4>一定の開催実績と体制</h4>
                                <p>
                                    同種または関連テーマのイベントを継続的に実施されており、安定した運営・企画体制を確立されていること。
                                </p>
                            </li>
                            <li>
                                <h4>関係者間で共有・浸透したビジョン</h4>
                                <p>
                                    主催者だけでなく、院内外の協力者・賛同者との間で理念や目的を共有し、共通の価値観のもとで推進されていること。
                                </p>
                            </li>
                            <li>
                                <h4>外部ステークホルダーとの連携・支援体制</h4>
                                <p>
                                    関連企業、学会、自治体などとの協力関係を構築し、イベントの持続可能性と社会的信頼性を担保されていること。
                                </p>
                            </li>
                            <li>
                                <h4>提供価値に応じた公正な対価設計</h4>
                                <p>
                                    企画・運営・参加に関わるリソースや専門性に見合った適正な対価を設定し、関係者すべてに公平な価値還元を行われていること。
                                </p>
                            </li>
                        </ul>
                    </section>

                    <section class="c-member c-wrapper">
                        <h3 class="c-headline">チームメンバー</h3>
                        <ul class="c-member-list">
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/rectangle.jpg" alt="高度な専門人材">
                                </div>
                                <div>
                                    <h4>橋本 悟</h4>
                                    <p>
                                        アメリカ、ネブラスカ州ベルビュー大学経営学部卒業（cum
                                        laude）後帰国、外資系ヘルスケアコンサルティング会社を経て、ジョンソン・エンド・ジョンソン株式会社コーディス事業部に入社。その後は一貫してカテーテルインターベンション領域で営業・マーケティングのキャリアを経て、2005年株式会社テクロスを設立。
                                    </p>
                                    <p>
                                        プロフィール詳細 ＞
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/rectangle.jpg" alt="高度な専門人材">
                                </div>
                                <div>
                                    <h4>許沢 佳弘</h4>
                                    <p>
                                        日本赤十字社医療センター、東京大学医学部附属病院で循環器内科医として勤務。東京大学大学院で分子生物学領域の基礎研究に従事。医療系ベンチャーミーカンパニー株式会社を経て、2019年より株式会社テクロスへ入社。現在も臨床医の傍ら、TCROSS
                                        NEWSでwebコンテンツの企画とMedical advisorを兼任
                                    </p>
                                    <p>
                                        プロフィール詳細 ＞
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/rectangle.jpg" alt="高度な専門人材">
                                </div>
                                <div>
                                    <h4>小田桐 周平</h4>
                                    <p>
                                        外資系CROにてCRA業務およびデータマネジメント業務を経験後、内資系体外診断薬メーカーにて研究開発に従事。<br />2021年株式会社テクロスへ入社し、Clinical
                                        Study & Strategic Consulting
                                        事業の立ち上げメンバーとなる。<br />臨床研究の実務経験3年以上。創薬科学修士。Googleデータアナリティクスプロフェッショナル認定保有。統計検定準1級。
                                    </p>
                                    <p>
                                        プロフィール詳細 ＞
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </section>

                    <%- include('/common/_contact') %>
                        <%- include('/common/_footer', { meta }) %>
                            <script src="<%= meta.basePath %><%= ASSET_PATH %>asset/js/main.js"></script>

            </body>

        </html>