<footer class="footer">
  <div class="footer-logo">
    <a href="#" class="footer-logo-img"><img src="<%= meta.basePath %><%= ASSET_PATH %>asset/img/common/logo_horizontal_footer.svg" alt="TCROSS"></a>
  </div>
  <div class="footer-nav">
    <nav>
      <ul>
        <li><a href="#">Who we are</a></li>
        <li><a href="#">Our services</a></li>
        <li><a href="#">Recruit</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        <li>|</li>
        <a href="#"><img class="footer-nav-facebook" src="<%= meta.basePath %><%= ASSET_PATH %>asset/img/common/facebook.svg" alt="faceBook"></a>
        <a href="#"><img class="footer-nav-x" src="<%= meta.basePath %><%= ASSET_PATH %>asset/img/common/x.svg" alt="X"></a>
      </ul>
    </nav>
  </div>
  <div class="footer-Terms">
    <a href="#"><%= meta.terms %></a>
    <a href="#"><%= meta.privacy %></a>
    <p>Copyright © TCROSS</p>
  </div>
</footer>