<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        <%= meta.title %>
    </title>

    <meta name="description" content="<%= meta.description %>">
    <meta name="keywords" content="<%= meta.keywords %>">

    <!-- OGP -->
    <meta property="og:title" content="<%= meta.ogTitle %>">
    <meta property="og:description" content="<%= meta.ogDescription %>">
    <meta property="og:type" content="<%= meta.ogType %>">
    <meta property="og:url" content="<%= meta.ogUrl %>">
    <meta property="og:image" content="<%= meta.ogImage %>">
    <meta property="og:site_name" content="<%= meta.ogSiteName %>">
    <meta property="og:locale" content="<%= meta.ogLocale %>">

    <link rel="stylesheet" href="<%= meta.basePath %>asset/css/main.bundle.css">
    <link rel="stylesheet" href="<%= meta.basePath %>asset/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap"
        rel="stylesheet">

</head>