<% let meta={ title: "臨床研究サポート事業｜株式会社テクロス" , description: "トップページの説明" , keywords: "test, bridge" , ogTitle: "ページタイトル" ,
    ogDescription: "ページ説明文" , ogtype: "" , ogUrl: "" , ogImage: "" , ogsiteName: "" , ogLocate: "" ,
    basePath: "../../../" , selected: "" , optionJp: "日本語" , optionEn: "英語" , terms: "利用規約" , privacy: "個人情報保護方針" ,
    lang: "jp/" }; %>
    <%- include('/common/_metaCreate', { meta }) %>
        <!DOCTYPE html>
        <html lang="ja">
        <%- include('/common/_headContent', { meta }) %>

            <body data-page="../../en/services" class="page-services">
                <%- include('/common/_header', {meta}) %>

                    <ul class="c-breadcrumbs c-wrapper">
                        <li><a href="/">Top</a></li>
                        <li>＞</li>
                        <li>臨床研究サポート事業</li>
                    </ul>

                    <div class="c-modal">
                        <div class="c-modal-case">
                            <h4 class="c-modal-case-title"></h4>
                            <h5 class="c-modal-case-subtitle"></h5>
                            <div class="c-modal-case-img"><img class="c-modal-img-src" src=""></div>
                            <h6>成果</h6>
                            <ul class="modal-case-list">
                            </ul>
                            <h6>背景</h6>
                            <p class="modal-case-text-1"></p>
                            <h6>取り組み</h6>
                            <p class="modal-case-text-2"></p>
                            <div class="c-modal-case-close" id="modal-close-btn"></div>
                        </div>
                    </div>

                    <section class="c-hero c-wrapper">
                        <p>Clinical Research Support</p>
                        <h2>臨床研究サポート事業</h2>
                        <div class="c-hero-content">
                            <div>
                                <h3 class="c-headline">循環器領域の専門性で、<br />価値ある臨床研究を共に創る</h3>
                                <p>リード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキスト
                                </p>
                            </div>
                            <div>
                                <img src="../../../<%= ASSET_PATH %>asset/img/services/clinical-mv.jpg"
                                    alt="循環器領域の専門性で、価値ある臨床研究を共に創る">
                            </div>
                        </div>
                    </section>

                    <section class="c-explanation">
                        <div class="c-explanation-bg">
                            <img src="../../../<%= ASSET_PATH %>asset/img/services/explanation.jpg" alt="高度な専門人材">
                            <div class="c-explanation-bg-overlay"></div>
                        </div>
                        <div class="c-explanation-content c-wrapper">
                            <h3>臨床研究サポート事業における<br class="_pc">TCROSSの強み</h3>
                            <div>
                                <ul>
                                    <li>
                                        <h4>価値のある臨床研究の創出</h4>
                                        <p>臨床研究を計画し、論文化を目指す先生方のニーズにお応えします。弊社の強みである循環器領域の高い専門性と最新の学術集会・文献情報を統合し、価値のある臨床研究を一緒に考え、実現のお手伝いをいたします。
                                        </p>
                                    </li>
                                    <li>
                                        <h4>研究費の獲得と<br class="_pc">実現可能な研究計画の相談</h4>
                                        <p>「医師が求める研究」と「企業が求めるアウトカム」をマッチングさせることで、実現可能性の高い臨床研究を導きます。</p>
                                    </li>
                                    <li>
                                        <h4>ワンランク上の研究志向</h4>
                                        <p>日本の実臨床だからこそ生まれた研究結果を世界に発信できるよう、先生方のご経験と絶え間ない努力の成果を医学誌や学会で発表するお手伝いをさせていただきます。
                                        </p>
                                    </li>
                                    <li>
                                        <h4>事業の構想から実現まで</h4>
                                        <p>医師の求める研究と企業の求めるアウトカムをマッチングさせ、業界インパクトを十分含んだ実現可能な臨床研究をデザインを創出し遂行します。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <section class="c-task c-wrapper">
                        <h3 class="c-headline">こんなお悩みありませんか？</h3>
                        <ul class="c-task-list">
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/issue1.png" alt="高度な専門人材">
                                </div>
                                <h4>研究費獲得や企業との調整に苦戦している</h4>
                                <p>循環器領域に特化した知見と経験をもとに、医療現場の課題や最新動向を的確に捉えた企画を設計します。臨床と産業の双方に寄り添い、医療従事者・企業の双方に価値を届けます。
                                </p>
                            </li>
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/issue2.png" alt="高度な専門人材">
                                </div>
                                <h4>研究の方向性やテーマの妥当性に不安がある</h4>
                                <p>最新の知見や手技を効果的に伝えられるよう、演者への依頼や、座長との進行・内容のすり合わせに手間がかかりすぎる
                                </p>
                            </li>
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/issue3.png" alt="高度な専門人材">
                                </div>
                                <h4>臨床研究法への対応に悩んでいる</h4>
                                <p>医療広告ガイドラインや関連法規・業界ルールに遵守したイベント運営ができているか不安が拭えない
                                </p>
                            </li>
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/issue4.png" alt="高度な専門人材">
                                </div>
                                <h4>所属機関を超えた交流のきっかけがほしい</h4>
                                <p>登壇される医師の先生方のタイトなスケジュール調整や、煩雑な交通・宿泊の手配、資料作成サポートまで手が回らない
                                </p>
                            </li>
                        </ul>
                    </section>

                    <section class="c-support c-wrapper">
                        <h3 class="c-headline">企画から運営・分析まで、 <br />必要なフェーズを柔軟にサポート</h3>
                        <ul class="c-support-list">
                            <li>
                                <h5>Support 01</h5>
                                <h4>研究費交渉</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    企業との研究費交渉を仲介し、実現可能な研究計画の構築を支援
                                </p>
                            </li>
                            <li>
                                <h5>Support 02</h5>
                                <h4>施設・協力医師のリクルート</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    研究参加施設や協力医師の募集をサポートし、スムーズな研究開始を後押し
                                </p>
                            </li>
                            <li>
                                <h5>Support 03</h5>
                                <h4>プロジェクトマネジメント</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    臨床研究の進行管理、モニタリング、データマネジメントまで一貫して支援
                                </p>
                            </li>
                            <li>
                                <h5>Support 04</h5>
                                <h4>プロトコル・研究設計相談</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    研究計画やプロトコルの相談を通じ、法規制にも適合した高品質な研究設計を支援
                                </p>
                            </li>
                            <li>
                                <h5>Support 05</h5>
                                <h4>企業との関係構築</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    研究に必要な企業との関係づくりをサポートし、研究の実現性を高める
                                </p>
                            </li>
                            <li>
                                <h5>Support 06</h5>
                                <h4>研究成果の発信</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    メディア戦略や論文執筆の支援により、研究成果の社会発信をサポート
                                </p>
                            </li>
                            <li>
                                <h5>Support 07</h5>
                                <h4>法規制対応</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    特定臨床研究実施に向けたコンサルテーションを通じ、臨床研究法に沿った安全な実施
                                </p>
                            </li>
                            <li>
                                <h5>Support 08</h5>
                                <h4>所属機関外での交流促進</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    ライブイベントなどを通じて、医局や所属機関を超えた交流やネットワークを形成
                                </p>
                            </li>
                        </ul>
                    </section>

                    <section class="c-case c-wrapper">
                        <h3 class="c-title"><span>Case</span> Study</h3>
                        <ul class="c-case-list">
                            <li>
                                <div>
                                    <h5>Case <span>01</span></h5>
                                    <h4>循環器治療の主要領域を網羅した、包括的ライブイベントの実現</h4>
                                    <p>豊橋ライブデモンストレーションコース</p>
                                    <p>・EBC／KBC／ABCなど世界主要学会との連携による国際展開<br />・分岐部治療に特化した継続的学術コミュニティの構築<br />・症例を通じた臨床知の共有・議論の促進<br />・日本の知見を世界へ届けるライブプラットフォームの確立
                                    </p>
                                    <p class="c-case-list-more js-modal _pc" data-modal="1">more</p>
                                </div>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/event_case1.jpg"
                                        alt="高度な専門人材">
                                </div>
                                <p class="c-case-list-more js-modal _sp" data-modal="1">more</p>

                            </li>
                            <li>
                                <div>
                                    <h5>Case <span>02</span></h5>
                                    <h4>日本発の分岐部治療研究会として、世界の潮流と歩む</h4>
                                    <p>Japanese Bifurcation Club（JBC）</p>
                                    <p>・2025年の開催では、5日間・6配信ルーム・100を超えるプログラムを実施<br />・参加者数2,447名（前年比＋399名）／有料参加者前年比150％増<br />・学術イベントの持続的成長モデルとして定着<br />・多様なステークホルダーが共に価値を創出するイベントの新たな形を提示
                                    </p>
                                    <p class="c-case-list-more js-modal _pc" data-modal="2">more</p>
                                </div>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/event_case2.jpg"
                                        alt="高度な専門人材">
                                </div>
                                <p class="c-case-list-more js-modal _sp" data-modal="2">more</p>

                            </li>
                        </ul>
                    </section>

                    <section class="event-clause c-wrapper">
                        <h3 class="c-headline">学会・医療研究会を成功に導く5か条</h3>
                        <p>私たちは、医療イベントを単なる開催ではなく、「価値を生み、次につながる場」として設計することを大切にしています。その実現には、以下の5つの要素が欠かせないと考えています。</p>
                        <ul class="event-clause-list">
                            <li>
                                <div>
                                    <h4>01</h4>
                                    <h5>明確で持続的な<br class="_pc" />ビジョン</h5>
                                </div>
                                <p>
                                    開催するイベントに、社会的意義や将来像を明確に描いたビジョンが存在し、その実現に向けた一貫した方針をお持ちであること。
                                </p>
                            </li>
                            <li>
                                <div>
                                    <h4>02</h4>
                                    <h5>一定の開催実績と体制</h5>
                                </div>
                                <p>
                                    同種または関連テーマのイベントを継続的に実施されており、安定した運営・企画体制を確立されていること。
                                </p>
                            </li>
                            <li>
                                <div>
                                    <h4>03</h4>
                                    <h5>関係者間で<br />共有・浸透したビジョン</h5>
                                </div>
                                <p>
                                    主催者だけでなく、院内外の協力者・賛同者との間で理念や目的を共有し、共通の価値観のもとで推進されていること。
                                </p>
                            </li>
                            <li>
                                <div>
                                    <h4>04</h4>
                                    <h5>外部ステークホルダーとの連携・支援体制</h5>

                                </div>
                                <p>
                                    関連企業、学会、自治体などとの協力関係を構築し、イベントの持続可能性と社会的信頼性を担保されていること。
                                </p>
                            </li>
                            <li>
                                <div>
                                    <h4>05</h4>
                                    <h5>提供価値に応じた<br />公正な対価設計</h5>
                                </div>
                                <p>
                                    企画・運営・参加に関わるリソースや専門性に見合った適正な対価を設定し、関係者すべてに公平な価値還元を行われていること。
                                </p>
                            </li>
                        </ul>
                    </section>

                    <section class="c-member c-wrapper">
                        <h3 class="c-title"><span>Our</span> Team</h3>
                        <ul class="c-member-list">
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/ourTeam1.jpg" alt="橋本 悟">
                                </div>
                                <div>
                                    <h4>橋本 悟</h4>
                                    <p>
                                        アメリカ、ネブラスカ州ベルビュー大学経営学部卒業（cum
                                        laude）後帰国、外資系ヘルスケアコンサルティング会社を経て、ジョンソン・エンド・ジョンソン株式会社コーディス事業部に入社。その後は一貫してカテーテルインターベンション領域で営業・マーケティングのキャリアを経て、2005年株式会社テクロスを設立。
                                    </p>
                                    <p>
                                        プロフィール詳細 ＞
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/services/ourTeam2.jpg" alt="許沢 佳弘">
                                </div>
                                <div>
                                    <h4>許沢 佳弘</h4>
                                    <p>
                                        日本赤十字社医療センター、東京大学医学部附属病院で循環器内科医として勤務。東京大学大学院で分子生物学領域の基礎研究に従事。医療系ベンチャーミーカンパニー株式会社を経て、2019年より株式会社テクロスへ入社。現在も臨床医の傍ら、TCROSS
                                        NEWSでwebコンテンツの企画とMedical advisorを兼任
                                    </p>
                                    <p>
                                        プロフィール詳細 ＞
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </section>

                    <section class="c-support c-wrapper">
                        <h3 class="c-headline">サポートの流れ</h3>
                        <!-- <p>TCROSSがすべての工程をコーディネート・サポートします！</p> -->
                        <ul class="c-support-list">
                            <li>
                                <h5>STEP 01</h5>
                                <h4>お問い合わせ<br />お打ち合わせ</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    企業との研究費交渉を仲介し、実現可能な研究計画の構築を支援
                                </p>
                            </li>
                            <li>
                                <h5>STEP 02</h5>
                                <h4>研究の企画</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    研究参加施設や協力医師の募集をサポートし、スムーズな研究開始を後押し
                                </p>
                            </li>
                            <li>
                                <h5>STEP 03</h5>
                                <h4>資金調達支援</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    臨床研究の進行管理、モニタリング、データマネジメントまで一貫して支援
                                </p>
                            </li>
                            <li>
                                <h5>STEP 04</h5>
                                <h4>協力医師<br />協力企業との調整</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    研究計画やプロトコルの相談を通じ、法規制にも適合した高品質な研究設計を支援
                                </p>
                            </li>
                            <li>
                                <h5>STEP 05</h5>
                                <h4>論文化&学会発表</h4>
                                <div>
                                    <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                                </div>
                                <p>
                                    研究に必要な企業との関係づくりをサポートし、研究の実現性を高める
                                </p>
                            </li>
                        </ul>
                    </section>

                    <%- include('/common/_contact') %>
                        <%- include('/common/_footer', { meta }) %>
                            <script src="<%= meta.basePath %><%= ASSET_PATH %>asset/js/main.js"></script>

            </body>

        </html>