<% let meta={ title: "indexTitleテスト" , description: "トップページの説明" , keywords: "test, bridge" , ogTitle: "ページタイトル" ,
  ogDescription: "ページ説明文" , ogtype: "" , ogUrl: "" , ogImage: "" , ogsiteName: "" , ogLocate: "" , basePath: "../../../"
  , selected: "" , optionJp: "日本語" , optionEn: "英語" , terms: "利用規約" , privacy: "個人情報保護方針" }; %>
  <%- include('/common/_metaCreate', { meta }) %>
    <!DOCTYPE html>
    <html lang="ja">
    <%- include('/common/_headContent', { meta }) %>

      <body>
        <%- include('/common/_header', {meta}) %>

          <ul class="c-breadcrumbs c-wrapper">
            <li><a href="/">トップ</a></li>
            <li>＞</li>
            <li><a href="../">事業紹介</a></li>
            <li>＞</li>
            <li class="_active">Webマーケティング事業</li>
          </ul>

          <section class="marketing-hero c-wrapper">
            <h2>Webマーケティング事業</h2>
            <div class="marketing-hero-content">
              <div>
                <h3 class="c-headline">TCROSS NEWS活用で成果を加速<br />最短で現場に届ける</h3>
                <p>「TCROSS NEWS®」を活用し、医薬品・医療機器のプロモー<br />ション成果を加速。Web広告から学術集会・製品関連サイトの<br />制作・運用まで、最短で現場に情報を届けます。
                </p>
              </div>
              <div>
                <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
              </div>
            </div>
          </section>

          <section class="c-explanation c-wrapper">
            <h3 class="c-headline">第一線の循環器内科医が広く活用するプラットフォーム</h3>
            <div class="c-explanation-content">
              <div>
                <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
              </div>
              <ul>
                <li>
                  <h4>全国の循環器内科医から支持される医師会員サービス</h4>
                  <p>TCROSS
                    NEWSは循環器内科医を中心に約9,000名の医師が登録しています。そのうち約7,500名は病院勤務の循環器内科医であり、全国に約11,000名いる病院勤務の循環器内科医のうち、およそ7割が本サービスを利用しています。
                  </p>
                </li>
                <li>
                  <h4>循環器領域に特化した確かな配信実績</h4>
                  <p>最新エビデンス紹介から、KOLインタビュー、手技動画まで、 臨床現場の視点に立った専門性の高いコンテンツを年間1,300本以上配信しています。</p>
                </li>
                <li>
                  <h4>臨床の現場で選ばれる確かな信頼</h4>
                  <p>
                    有料コンテンツの利用者のうち、97％が「満足している」と回答しており、高い評価を得ています。また、医師向けメールマガジンの開封率は常に約40％と安定しており、近年では施設単位での有料利用も増加しており、組織的な活用が広がっています。
                  </p>
                </li>
              </ul>
            </div>
          </section>

          <section class="c-task c-wrapper">
            <h3 class="c-headline">こんなお悩みありませんか？</h3>
            <ul class="c-task-list">
              <li>
                <p>課題01：新しい薬剤への医師の興味喚起が難しい</p>
              </li>
              <li>
                <p>課題02：忙しい医師に対して十分な接触機会を確保できない</p>
              </li>
              <li>
                <p>課題03：制作したデジタルコンテンツがターゲット医師に届かない</p>
              </li>
              <li>
                <p>課題04：閲覧はあっても、処方・導入への効果が見えにくい</p>
              </li>
            </ul>

            <h4>企画から運営・分析まで柔軟にサポート</h4>
            <ul class="c-task-support">
              <li>
                <h5>マーケティング企画</h5>
                <div>
                  <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                </div>
                <p>
                  TCROSS NEWS利用データを<br />もとに、最適なマーケティン<br />グ企画をご提案
                </p>
              </li>
              <li>
                <h5>コンテンツ制作</h5>
                <div>
                  <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                </div>
                <p>
                  専門のライターチームにより<br />各種ガイドラインを遵守した<br />信頼性の高い記事や動画制作<br />が可能
                </p>
              </li>
              <li>
                <h5>プロモーション</h5>
                <div>
                  <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                </div>
                <p>
                  虚血、心不全、不整脈など各<br />専門の医師が最も興味を持つ<br />切り口でコンテンツのプロ<br />モーションをサポート
                </p>
              </li>
              <li>
                <h5>アンケート調査</h5>
                <div>
                  <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                </div>
                <p>
                  アンケート項目の設計から<br />ターゲット医師への調査配<br />信、結果分析まで次につなが<br />る調査をご提供
                </p>
              </li>
            </ul>
          </section>

          <section class="c-example c-wrapper">
            <h3 class="c-headline">ケーススタディ</h3>
            <ul class="c-example-list">
              <li>
                <div>
                  <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                </div>
                <div>
                  <h4>CASE 1 --- 事例名を掲載</h4>
                  <h5>Japanese Bifurcation Club（JBC）</h5>
                  <p>
                    リード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキスト
                    リード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキスト
                  </p>
                  <p class="c-example-list-more">もっと詳しく</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="../../../<%= ASSET_PATH %>asset/img/about/strengths1.png" alt="高度な専門人材">
                </div>
                <div>
                  <h4>CASE 2 --- 事例名を掲載</h4>
                  <h5>豊橋ライブデモンストレーションコース</h5>
                  <p>
                    リード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキスト
                    リード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキストリード文テキスト
                  </p>
                  <p class="c-example-list-more">もっと詳しく</p>
                </div>
              </li>
            </ul>
          </section>

          <%- include('/common/_contact') %>
            <%- include('/common/_footer', { meta }) %>
              <script src="<%= meta.basePath %><%= ASSET_PATH %>asset/js/main.js"></script>

      </body>

    </html>